<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand">ITLog</span>
  <span class="navbar-text mr-auto">The Irresitible Technical Logs for FT's Domain System</span>
  <form *ngIf="!isLoggedIn" class="form-inline" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <input class="form-control form-control-sm mr-2" type="username" placeholder="Username" aria-label="Username" formControlName="username" required>
    <input class="form-control form-control-sm mr-2" type="password" placeholder="Password" aria-label="Password" formControlName="password" required>
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button>
  </form>
  <div class="nav-item" ngbDropdown *ngIf="isLoggedIn">
    <a class="nav-link" ngbDropdownToggle id="optionsDropdown" role="button">Welcome {{username}}!</a>
    <div ngbDropdownMenu aria-labelledby="optionsDropdown" class="dropdown-menu dropdown-menu-right">
      <a ngbDropdownItem href="#" *ngIf="isAdmin">Dashboard</a>
      <a ngbDropdownItem href="#" (click)="logOut()">Logout</a>
    </div>
  </div>
  <!-- <button *ngIf="isLoggedIn" class="btn btn-outline-primary my-2 my-sm-0"(click)="logOut()">Logout</button> -->
</nav>
<app-general-workspace></app-general-workspace>