.table-hover {
  table-layout: fixed
}

#outer {
  width: 100%;
  height: 80vh;
  display: flex;
}

#inner {
  margin: auto;
}

.report-title {
  margin-top: 10px;
}

.help {
  font-style: italic;
}

.note {
  font-weight: bold;
}

#reportForm {
  margin-top: 10px;
  margin-bottom: 10px;
}
