.form-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-errors {
  margin-top: 10px;
}

#formreminder {
  font-style: italic;
}

#outer {
  width: 100%;
  height: 80vh;
  display: flex;
}

#inner {
  margin: auto;
}
