<div class="container-fluid" *ngIf="isLoggedIn">
  <div class="container-fluid form-title">
    <h3 *ngIf="isInsert">Log an Event</h3>
    <h3 *ngIf="isEdit">Edit Event #{{eventModel._id}} by {{eventModel.user}} on {{eventModel.system}} / {{eventModel.zone}}</h3>
    <h3 *ngIf="isConfirm">Event Saved!</h3>
    <small id="formreminder" class="form-text text-muted" *ngIf="isEdit || isInsert">
      <b>Warning! Navigating to other tabs would clear any data entered.</b>
      Fields marked with a check are required fields. The submit button would not be enabled unless required fields are filled up.
    </small>
    <small id="formreminder" class="form-text text-muted" *ngIf="isConfirm">
      The event could now be seen at the Calendar tab.
    </small>
  </div>
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-row">
      <div class="form-group col-2">
        <label for="user">Username</label>
        <input type="text" class="form-control" id="user" name="user" formControlName="user">
      </div>
      <div class="form-group col-1">
        <label for="system">System</label>
        <select class="custom-select" [ngClass]="{'is-valid': isInsert || isEdit}" (change)="onSystemChange($event.target.value)" id="system" name="system" formControlName="system">
          <option *ngFor="let system of systems; let i = index" [value]="systems[i].globalPrefix">
            {{systems[i].globalPrefix}}
          </option>
        </select>
      </div>
      <div class="form-group col-2">
        <label for="zone">Zone</label>
        <select class="custom-select" [ngClass]="{'is-valid': isInsert || isEdit}" id="zone" name="zone" formControlName="zone">
          <option *ngFor="let zone of zones; let i = index" [value]="zones[i]">
            {{zones[i]}}
          </option>
          <!-- <option>{{selectedSystem != '' ? selectedSystem.zone1Prefix : ''}}</option>
          <option>{{selectedSystem != '' ? selectedSystem.zone2Prefix : ''}}</option>
          <option>{{selectedSystem != '' ? selectedSystem.zone1Prefix + '-' + selectedSystem.zone2Prefix : ''}}</option> -->
        </select>
      </div>
      <div class="form-group col-3">
        <label for="type">Event Type</label>
        <select class="custom-select" [ngClass]="{'is-valid': isInsert || isEdit}" id="type" name="type" formControlName="type">
          <option *ngFor="let eventType of eventTypes; let i = index" [value]="eventTypes[i]">
            {{eventTypes[i]}}
          </option>
        </select>
      </div>
      <div class="form-group col">
        <label for="jiracase">JIRA Case</label>
        <input type="text" class="form-control" id="jiraCase" name="jiraCase" aria-describedby="jiracaseHelp" formControlName="jiraCase">
        <small id="jiracaseHelp" class="form-text text-muted">Please use comma and space to separate entries. e.g. MD-12345, MD-12346</small>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-2">
        <label for="startDate">Start Date</label>
        <div class="input-group">
          <input class="form-control" [ngClass]="{'is-valid': isInsert || isEdit, 'is-invalid': hasErrors}" placeholder="yyyy-mm-dd" id="startDate" name="startDate" ngbDatepicker #startDate="ngbDatepicker" aria-describedby="startDateHelp" formControlName="startDate">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="startDate.toggle()" type="button">Calendar</button>
          </div>
        </div>
        <small id="startDateHelp" class="form-text text-muted">Please use the suggested date format or pick from the calendar.</small>
      </div>
      <div class="form-group col-2">
        <label for="startDate">End Date</label>
        <div class="input-group">
          <input class="form-control" [ngClass]="{'is-valid': isInsert || isEdit, 'is-invalid': hasErrors}" placeholder="yyyy-mm-dd" id="endDate" name="endDate" ngbDatepicker #endDate="ngbDatepicker" aria-describedby="endDateHelp" formControlName="endDate">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="endDate.toggle()" type="button">Calendar</button>
          </div>
        </div>
        <small id="endDateHelp" class="form-text text-muted">Please use the suggested date format or pick from the calendar.</small>
      </div>
      <div class="form-group col">
        <label for="featureon">Features turned ON</label>
        <input type="text" class="form-control" id="featureon" name="featureon" aria-describedby="featureonHelp" formControlName="featureOn">
        <small id="featureonHelp" class="form-text text-muted">Please use comma and space to separate mutiple entries. e.g. CAP205, CAP207</small>
      </div>
      <div class="form-group col">
        <label for="featureoff">Features turned OFF</label>
        <input type="text" class="form-control" id="featureoff" name="featureoff" aria-describedby="featureoffHelp" formControlName="featureOff">
        <small id="featureoffHelp" class="form-text text-muted">Please use comma and space to separate mutiple entries. e.g. CRE010, CSW220</small>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label for="featureon">Compiled Sources</label>
        <input type="text" class="form-control" id="compiledsources" name="featureon" aria-describedby="compiledsourcesHelp" formControlName="compiledSources">
        <small id="compiledsourcesHelp" class="form-text text-muted">Please use comma and space to separate mutiple entries. e.g. LEC06A, FTC0630</small>
      </div>
      <div class="form-group col">
        <label for="apiused">APIs Used</label>
        <input type="text" class="form-control" id="apiused" name="apiused" aria-describedby="apiusedHelp" formControlName="apiUsed">
        <small id="apiusedHelp" class="form-text text-muted">Please use comma and space to separate mutiple entries. e.g. OPAY, IPAY</small>
      </div>
    </div>
    <button type="submit" *ngIf="isInsert || isEdit" class="btn" [ngClass]="{'btn-outline-primary': eventForm.invalid, 'btn-primary': eventForm.valid}" [disabled]="eventForm.invalid">Submit</button>
    <button type="button" *ngIf="isConfirm" class="btn btn-outline-primary" (click)="resetForm()">New Input</button>
  </form>
  <div class="container-fluid form-errors" *ngIf="hasErrors">
    <h6>Notes</h6>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Field</th>
            <th scope="col">Type</th>
            <th scope="col">Note</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Start Date</th>
            <td>Error</td>
            <td>Start Date is later than End Date.</td>
          </tr>
          <tr>
            <th scope="row">End Date</th>
            <td>Error</td>
            <td>End Date is earlier than Start Date.</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
<div id="outer" class="container" *ngIf="!isLoggedIn">
  <div id="inner">
    <h3><span id="loading-text">Please log in to access the page.<br>
      If you are not supposed to be in this page, please click <a href="/rules">here.</a></span></h3>
  </div>
</div>
