.container-fluid {
  margin-top: 10px;
}

.reminder {
  font-style: italic;
}

/* ngb-datepicker {
  margin-left: 0em;
} */

/* Make the hyperlinks look like bootstrap link
 * even without the href atrribute */
.pLink, .list-group-item-action {
  cursor:pointer;
}

.pLink:hover {
  text-decoration:underline;
}

.table-hover {
  table-layout: fixed
}

.list-title {
  margin-bottom: 10px;
}
