<div class="container-fluid" *ngIf="!FATALERROR">
  <div class="row">
    <div class="col-5">
      <div class="container-fluid">
        <h4 class="system-details">System Details</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item form-inline"><span class="mr-2">Select System:</span>
            <select class="custom-select" (change)="onChange($event.target.value)">
              <option *ngFor="let system of systems; let i = index" [value]="systems[i].globalPrefix">
                {{systems[i].globalPrefix}} System
              </option>
            </select>
          </li>
          <li class="list-group-item" *ngIf="systems.length > 0">Global Prefix: {{selectedSystem.globalPrefix}}</li>
          <li class="list-group-item" *ngIf="systems.length > 0">URL: <a href="{{selectedSystem.systemUrl}}">{{selectedSystem.systemUrl}}</a></li>
          <li class="list-group-item" *ngIf="systems.length > 0">Machine: {{selectedSystem.machine}}</li>
          <li class="list-group-item" *ngIf="systems.length > 0">Zone 1: {{selectedSystem.zone1Prefix}} - {{selectedSystem.zone1Name}}</li>
          <li class="list-group-item" *ngIf="systems.length > 0">Zone 2: {{selectedSystem.zone2Prefix}} - {{selectedSystem.zone2Name}}</li>
          <li class="list-group-item" *ngIf="systems.length > 0">Login: {{selectedSystem.loginNames}}</li>
          <li class="list-group-item" *ngIf="systems.length > 0">System Admins: {{selectedSystem.systemAdmin}}</li>
        </ul>
      </div>
    </div>
    <div class="col-7">
      <table class="table table-striped">
        <thead>
        <tr>
          <th colspan="2">System Rules</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let rule of rules; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ rule.statement }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
