<div class="container-fluid">
  <div class="row">
    <div class="col-5">
      <div class="container-fluid">
        <h3 class="system-details">System Details</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Global Prefix: OS</li>
          <li class="list-group-item">URL: <a href="https://mancswcbman0278:20025/fusionmidas/docs/index.jsp">https://mancswcbman0278:20025/fusionmidas/docs/index.jsp</a></li>
          <li class="list-group-item">Machine: MNQ</li>
          <li class="list-group-item">Zone 1: O4 - Spain</li>
          <li class="list-group-item">Zone 2: O5 - Argentina</li>
          <li class="list-group-item">Login: OSUSER01,OSUSER02,OSUSER03</li>
          <li class="list-group-item">System Admins: Jen Flores,MJ Mananghaya</li>
        </ul>
      </div>
    </div>
    <div class="col-7">
      <table class="table table-striped">
        <thead>
        <tr>
          <th colspan="2">Rules and Regulations</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let rule of rules; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ rule.statement }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
