<div class="container-fluid" *ngIf="!FATALERROR">
  <div class="row">
    <div class="col-5">
      <div class="container-fluid">
        <h4 class="system-details">System Details</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item form-inline"><span class="mr-2">Select System:</span>
            <select class="custom-select" (change)="onChange($event.target.value)">
              <option *ngFor="let system of systems; let i = index" [value]="systems[i].globalPrefix">
                {{systems[i].globalPrefix}} System
              </option>
            </select>
            <span class="ml-2 sysver">Current Release:</span>
            <span class="ml-2 release">
              <div class="spinner-border text-secondary" role="status" *ngIf="selectedSystemVersion == 'false'"></div>{{selectedSystemVersion}}
            </span>
          </li>
          <li class="list-group-item" *ngIf="systems.length > 0"><span class="info mr-2">Global Prefix:</span>{{selectedSystem.globalPrefix}}</li>
          <li class="list-group-item" *ngIf="systems.length > 0"><span class="info mr-2">URL:</span><a href="{{selectedSystem.systemUrl}}">{{selectedSystem.systemUrl}}</a></li>
          <li class="list-group-item" *ngIf="systems.length > 0"><span class="info mr-2">Machine:</span>{{selectedSystem.machine}}</li>
          <li class="list-group-item" *ngIf="systems.length > 0"><span class="info mr-2">Zone 1:</span>{{selectedSystem.zone1Prefix}} - {{selectedSystem.zone1Name}}</li>
          <li class="list-group-item" *ngIf="systems.length > 0"><span class="info mr-2">Zone 2:</span>{{selectedSystem.zone2Prefix}} - {{selectedSystem.zone2Name}}</li>
          <li class="list-group-item" *ngIf="systems.length > 0"><span class="info mr-2">Login:</span>{{selectedSystem.loginNames}}</li>
          <li class="list-group-item" *ngIf="systems.length > 0"><span class="info mr-2">System Admins:</span>{{selectedSystem.systemAdmin}}</li>
        </ul>
      </div>
    </div>
    <div class="col-7">
      <table class="table table-striped">
        <thead>
        <tr>
          <th colspan="2">System Rules</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let rule of rules; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ rule.statement }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
