<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs nav-justified">
    <li [ngbNavItem]="1" routerLink="/announcement">
      <a ngbNavLink>Announcements and Rules</a>
      <!-- <ng-template ngbNavContent>
        <app-announcements></app-announcements>
      </ng-template> -->
    </li>
    <li [ngbNavItem]="2" routerLink="/calendar">
      <a ngbNavLink>Calendar</a>
    </li>
    <li [ngbNavItem]="3" *ngIf="isLoggedIn" routerLink="/reservation">
      <a ngbNavLink>Reservation</a>
    </li>
</ul>
